<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息表</title>
    <style>

    </style>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../vue.js"></script>
</head>
<body>
<div class="container" style="padding-top: 50px;" id="vm">
    <form action="" class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
                <input type="text" id="name" class="form-control" v-model="name" placeholder="请输入姓名">
            </div>
        </div>
        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-10">
                <input type="number" id="age" class="form-control" v-model="age" placeholder="请输入年龄">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">性别</label>
            <div class="col-sm-10">
                <label for="female" class="radio-inline">
                    <input type="radio" name="gender" id="female" value="男" v-model="gender"> 男
                </label>
                <label for="male" class="radio-inline">
                    <input type="radio" name="gender" id="male" value="女" v-model="gender"> 女
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary" v-on:click="add">添加</button>
                <button type="reset" class="btn btn-danger">重置</button>
            </div>
        </div>
    </form>
    <hr>
    <table class="table table-hover">
        <caption class="h3 text-center">用户信息表</caption>
        <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in myData">
            <td>{{ index+1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.gender}} <a class="close" data-toggle="modal" data-target="#myModal" @click="iNow=index">&times;</a></td>
        </tr>
        <tr v-show="myData.length == 0">
            <td colspan="4" class="text-center text-muted">暂无数据...</td>
        </tr>
        </tbody>
        {{iNow}}
    </table>
    <!-- 模态框 -->
    <div class="modal fade" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">删除</h4>
                </div>
                <div class="modal-body">
                    <p>确认删除吗?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteData(iNow)">删除</button>
                </div>
            </div>
        </div>
    </div>



</div>
<script>
    new Vue({
        el: "#vm",
        data: {
            myData: [],
            name: "",
            age: "",
            gender: "",
            iNow:-1

        },
        methods: {
            add: function () {
                if(this.name&&this.age&&this.gender){
                    this.myData.push({
                        name: this.name,
                        age: this.age,
                        gender: this.gender
                    });
                }
                this.name = "";
                this.age = "";
                this.gender = "";
            },
            deleteData: function (index) {
                if(index < -1){
                    this.Data = [];
                }else{
                    this.myData.splice(index,1);
                }

            }
        }
    })
</script>
</body>
</html>